* {
  margin: 0px;
}

#root {
  color: black;
}
#body {
  background-color: #696969;
}
.title {
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  margin-top: 2rem;
  padding: 10px 10px 10px 10px;
}
.position {
  display: flex;
}
#input {
  margin-left: 9rem;
  margin-top: 2rem;

  width: 20rem;
  height: 2rem;
}
.side {
  margin-left: 15rem;
  margin-top: 2.5rem;
}
#cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
}
#episodes {
  margin-top: 2rem;
  margin-left: 2rem;
  overflow: scroll;
  width: 20rem;
  height: 2rem;
}
@media (max-width: 980px) {
  #root #cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  #body {
    background-color: palevioletred;
  }

  .position {
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
  }
  #episodes {
    margin-left: 10px;
  }

  #input {
    margin-left: 10px;
  }
  .side {
    margin-left: 15px;
  }
}
@media (max-width: 550px) {
  #root #cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .position {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  #episodes {
    margin-left: 10px;
  }
  #input {
    margin-left: 10px;
  }
  .side {
    margin-left: 15px;
  }
}
