* {
  margin: 0px;
}

/* #root {
  color: black;
} */
#background {
  background-color: rgb(240, 238, 238);
}
.card {
  color: black;
  width: 20rem;
  background: white;
  height: 25rem;
  margin-top: 30px;
  margin-left: 35px;
  margin-bottom: 3rem;
  padding: 5px 12px 12px;
  border-radius: 12px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}
.card img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}
/* .card :hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
} */
.title {
  color: white;
  text-align: center;
  background-color: black;
  margin-top: 2rem;
  padding: 10px 10px 10px 10px;
}
.position {
  display: flex;
}
#input {
  margin-left: 9rem;
  margin-top: 2rem;

  width: 20rem;
  height: 2rem;
}
.side {
  margin-left: 13rem;
  margin-top: 2.5rem;
}
#cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
}
#episodes {
  margin-top: 2rem;
  margin-left: 2rem;
  overflow: scroll;
  width: 20rem;
  height: 2rem;
}
@media (max-width: 980px) {
  #root #cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .position {
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
  }
  #episodes {
    margin-left: 10px;
  }

  #input {
    margin-left: 10px;
  }
  .side {
    margin-left: 15px;
  }
}
@media (max-width: 550px) {
  #root #cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .position {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  #episodes {
    margin-left: 10px;
  }
  #input {
    margin-left: 10px;
  }
  .side {
    margin-left: 15px;
  }
}
