#root {
  color: black;
}
#body {
  background-color: #696969;
}
.title {
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  padding: 10px 10px 10px 10px;
}
#cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
}
